.selected {
  color: #49B293
}

.meal-form{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.meal-form h1 {
 margin: 3em 0 0 0;
}

.meal-form button{
  margin: 1em 0 0 0;
  width: 30%;
}

.meal-form input {
  margin: 1em 0 0 0;
}

.done {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.done button {
  width: 30%;
}
